* {
  margin: 0; /* puxa o objeto de dentra pra fora */
  padding: 0; /* puxa o objeto de fora pra dentro */
  font-family: Arial, Helvetica, sans-serif;

  -moz-box-sizing: border-box; /* esse atributo calcula largura e altura As propriedades de largura (width) e de altura (height) incluem o tamanho padding size e a propriedade border, mas não incluem a propriedade margin. */
  box-sizing: border-box;

  object-fit: cover; /*  IMAGEM  - cobre toda a imagem */
  -o-object-fit: cover;
  object-position: center; /*  IMAGEM  - centralizar a imagem */
  -o-object-position: center;
}
